<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <title>Saved - Flicksy</title>
</head>

<body class="bg-gray-100">
    <!-- navbar -->
    {% include 'navbar.html' %}

    <div>
        <div class="w-full bg-gray-100 py-6 px-4">
            <div class="flex justify-center mb-6">
                <h2 class="text-black text-2xl font-semibold cursor-pointer">Saved</h2>
            </div>

            <!-- Grid Gallery -->
            <div class="grid grid-cols-3 gap-4 max-w-5xl mx-auto">
                <!-- Post -->
                {% for saved_post in saved_posts %}
                <div hx-get="/posts/{{ saved_post.post.id }}" hx-target="#modal-body" hx-trigger="click" class="cursor-pointer">
                    <img src="{{saved_post.post.image.url}}" alt="Post" class="rounded-lg w-full h-auto object-cover" />
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div id="modal-body"></div>
    
    <script>
        const listenersMap = {}; // To keep track of old listeners by element ID and event type
    
        function addOrReplaceListener(id, type, handler) {
          const el = document.getElementById(id);
          if (!el) return;
    
          const key = `${id}_${type}`;
          if (listenersMap[key]) {
            el.removeEventListener(type, listenersMap[key]);
          }
    
          el.addEventListener(type, handler);
          listenersMap[key] = handler;
        }
      </script>

</body>

</html>